h2 {
    margin-top: 0;  /* Remove top margin for headings */
}

.award {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #ffffff;
}

.champion {
    background-color: #f0b54f;
}

.runner-up {
    background-color: #ec6b3f;
}

.third-place {
    background-color: #56a8e1;
}

.best-debater-final {
    background-color: #4db8e1;
}

.best-debater-semi {
    background-color: #af8bc6;
}

.award h2 {
    align-items: center;
    margin: 8px 0;
    font-size: 20px; /* Set consistent font size for headings */
    font-weight: bold;
}

.award p {
    align-items: center;
    margin: 8px 0;
    font-size: 20px; /* Set consistent font size for prize descriptions */
    font-weight: bold;
}

.prize-info-1{
    width: 800px;
    margin-left:50px;
    float:left;
    align-items: left;
}

.prize-info-2{
    width: 800px;
    float: right;
    margin-right:50px;
    align-items: right;
}

.prize-info-3{
    width: 800px;
    align-items: left;
}

.prize-headline-1 {
    text-align: left;
    
}

.prize-headline-2 {
    text-align: right;
}

@media (max-width: 768px) {
    .prize-info-1{
        flex-direction: column;
        width: 80%;
        margin-right:50px;
        align-items: center;
    }

    .prize-info-2{
        flex-direction: column;
        width: 80%;
        margin-left:50px;
        align-items: center;
    }

    .prize-info-3{
        flex-direction: column;
        width: 80%;
        align-items: center;
    }

@media (max-width: 600px){
    .award{
        flex-direction: column;
        text-align: center;
        padding: 5px;
    }

    .award h2 {
        font-size: 1rem;
    }

    .award p {
        font-size: 0.8rem;
    }

    .prize-headline-1{
        width: 150%;
    }

    .prize-headline-2{
        text-align: left;
        width: 150%;
    }

    .prize-info-1{
        display:contents;
    }
    
    .prize-info-2{
        display:contents;
    }

    .prize-info-3{
        display:contents;
    }
}

@media (max-width: 414px){
    .award{
        flex-direction: column;
        text-align: center;
        padding: 5px;
    }

    .award h2 {
        font-size: 1rem;
    }

    .award p {
        font-size: 0.8rem;
    }

    .prize-headline-1{
        width: 150%;
    }

    .prize-headline-2{
        text-align: left;
        width: 150%;
    }

    .prize-info-1{
        display:contents;
    }
    
    .prize-info-2{
        display:contents;
    }

    .prize-info-3{
        display:contents;
    }
    }

}

